body {
    background-color: #E9ECF8;
}

.main-logo {
    position: relative;
    margin: 0 100px;
    padding: 70px 0px;
}

.main-text-input>textarea {
    border: none;
    color: darkblue;
    font-size: 32px;
    background-color: #E9ECF8;
    resize: none;
}

.main-text-input>textarea::placeholder {
    font-size: 32px;
    color: darkblue;
}

.main-text-input>textarea:focus {
    outline: none;
}

.main-text-input:focus {
    outline: none;
}

.main-text-input > button {
    position: relative;
    right: 33.4%;
    bottom: -50px;
    width: 15%;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 23px;
    margin-left: 20px;
}

.main-text-input {
    color: #0A3871;
    padding: 0px 210px;
}

.main-text-input > button, #criptografar {
    background-color: #0A3871;
    color: #FFFFFF;
}

.main-text-input > button, #descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.main-description img,
p {
    position: absolute;
    left: 10.8%;
}

.main-description img {
    width: 50px;
    height: 30px;
    top: 86.7%;
}

.main-description p {
    left: 260px;
    top: 85.6%;
}

.main-text-output {
    position: absolute;
    top: 9%;
    left: 73%;
    background-color: white;
    width: 22%;
    height: 85%;
    border-radius: 32px;
}

.main-text-output > img {
    position: relative;
    right: -10%;
    top: 15%;
}

.main-text-output > .description-character {
    display: inline;
    top: 55%;
    left: 9%;
    font-weight: bold;
    font-size: 24px;
}

.main-text-output > .subdescription-character {
    display: inline;
    top: 62%;
    font-size: 16px;
    left: 9%;
}